.App {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../assets/back3-transformed.jpeg");
  /* background: linear-gradient(to right, #131212, #574639); */

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

button {
  background-color: #382350;
  color: white;
  padding: 10px 20px;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.search-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 10px;
}

.search-results img {
  width: 200px;
  height: 200px;

  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropzone {
  padding: 20px;
  background-color: #f0f8ff;
  cursor: pointer;
}

.clearbtn {
  background-color: #2768bd;
}

.Uploaded-img {
  background-color: #ffffff;
  border-radius: 10px;
}

.ImgIcon {
  max-width: 150px;
  max-height: 100px;
}

.UploadedCount {
  background-color: #7b7e81;
  width: 50%;
  border-radius: 5px;
}

.UploadArea {
  background-color: #2e2b2b;
  border-radius: 10px;
  box-shadow: 4px 3px 0px 0px #4b4747;
}

.heading {
  font-weight: bolder;
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-family: cursive;
  margin-top: 2%;
  margin-left: 3%;
}

.MiddleRow {
  background: linear-gradient(to right, #302b2b, #574639);
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  border-radius: 10px;
}
